root = true

[*]
charset = utf-8
indent_style = space
indent_size = 4
insert_final_newline = true
trim_trailing_whitespace = true

# Visual Studio Solution Files
[*.sln]
indent_style = tab

# Visual Studio XML Project Files
[*.{csproj,vbproj,vcxproj.filters,proj,projitems,shproj}]
indent_size = 2

# XML Configuration Files
[*.{xml,config,props,targets,nuspec,resx,ruleset,vsixmanifest,vsct}]
indent_size = 2

# JSON Files
[*.{json,json5,webmanifest}]
indent_size = 2

[*.cs]
# Organize Usings
dotnet_sort_system_directives_first = true
dotnet_separate_import_directive_groups = false
file_header_template = Copyright (c) Kayden Miller. All Rights Reserved.\nLicensed under the MIT License.

csharp_style_var_elsewhere = true:error
csharp_style_var_when_type_is_apparent = true:error
csharp_style_var_for_built_in_types = true:error

